{{ $img := partial "func/GetFeaturedImage" . }}
<div class="mb3 foreground-dark overflow-hidden">
    {{ if $img }}
    <a href="{{ .RelPermalink }}" class="db post-summary-img-wrap">
        <img src="{{ $img }}" alt="{{ .Title }}" class="post-summary-img">
    </a>
    {{ end }}
    <div class="pa4">
        {{ if .Date }}
        <div class="f6">
            {{ .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) }}
        </div>
        {{ end }}
        <h1 class="f3 near-black">
            <a href="{{ .RelPermalink }}" class="link dim highlight-color">
                {{ .Title }}
            </a>
        </h1>
        <div class="nested-links f5 lh-copy nested-copy-line-height">
            {{ .Summary }}
        </div>
    </div>
</div>
