{{ $page := . }}
{{ $currentLang := .Lang }}
<div class="lang-switcher">
  {{/* English */}}
  {{ if eq $currentLang "en" }}
    <span class="lang-btn lang-btn--current">EN</span>
  {{ else }}
    {{ $href := "/" }}
    {{ range $page.Translations }}
      {{ if eq .Lang "en" }}{{ $href = .RelPermalink }}{{ end }}
    {{ end }}
    <a href="{{ $href }}" class="lang-btn" title="English">EN</a>
  {{ end }}
  <span class="lang-divider">|</span>
  {{/* Deutsch */}}
  {{ if eq $currentLang "de" }}
    <span class="lang-btn lang-btn--current">DE</span>
  {{ else }}
    {{ $href := "/de/" }}
    {{ range $page.Translations }}
      {{ if eq .Lang "de" }}{{ $href = .RelPermalink }}{{ end }}
    {{ end }}
    <a href="{{ $href }}" class="lang-btn" title="Deutsch">DE</a>
  {{ end }}
</div>
