<ul class="timeline">
  <li class="timeline-item">    
    <div class="timeline-content">
      <h2 class="timeline-content-date">May 2021</h2>
      <h3 class="timeline-content-subheader">Book publication</h3> 
      <h4>Creative DIY Microcontroller Projects with TinyGo and WebAssembly</h4>
      <p>This book is a hands-on guide packed full of interesting DIY projects that will show you how to build embedded applications using TinyGo.</p>      
    </div>
    <div class="timeline-icon"></div>
  </li>
  <li class="timeline-item">    
    <div class="timeline-content">
      <h2 class="timeline-content-date">2023 - present</h2>
      <h3 class="timeline-content-subheader">Software Engineer</h3> 
      <h4>denic eG</h4>
      <p>Backend development and frontend development mainly using the Go programming language. The tech stack mainly consisted of: Go, Docker, Kubernetes, REST, and postgresSQL.</p>
      <p>Development of the .de registry systems as well as internal tools</p>
    </div>
    <div class="timeline-icon"></div>
  </li>
  <li class="timeline-item">    
    <div class="timeline-content">
      <h2 class="timeline-content-date">2019 - 2023</h2>
      <h3 class="timeline-content-subheader">Lead Software Engineer</h3> 
      <h4>fino talents GmbH</h4>
      <p>Backend development, Mentoring and Software Architecture mainly using the Go programming language. The tech stack mainly consisted of: Go, Docker, Kubernetes, REST, and MongoDB.</p>
      <p>Developement from scratch of the KYCnow Platform of ClariLab. Development was done in an event driven, microservice architecture using an API-First approach.</p>
    </div>
    <div class="timeline-icon"></div>
  </li>
  <li class="timeline-item">    
    <div class="timeline-content">
      <h2 class="timeline-content-date">2018 - 2019</h2>
      <h3 class="timeline-content-subheader">Software Engineer</h3> 
      <h4>fino Create GmbH</h4>
      <p>Backend development using Go on multiple products using the Go programming language. The tech stack mainly consisted of: Go, Docker, Kubernetes, REST, and MongoDB.</p>      
    </div>
    <div class="timeline-icon"></div>
  </li>
  <li class="timeline-item">    
    <div class="timeline-content">
      <h2 class="timeline-content-date">March 2018</h2>
      <h3 class="timeline-content-subheader">Certified Professional for Software Architecture - Foundation Level (CPSA-F)</h3> 
      <h4>iSAQB® – International Software Architecture Qualification Board</h4>
      <p>Certificate-ID: 1802-CPSAFL-236-DE</p>      
    </div>
    <div class="timeline-icon"></div>
  </li>
  <li class="timeline-item">    
    <div class="timeline-content">
      <h2 class="timeline-content-date">2017 - 2018</h2>
      <h3 class="timeline-content-subheader">Software Architect</h3> 
      <h4>BCIS IT-Systeme GmbH & Co KG.</h4>
      <p>Fullstack development of client & server software using C#, .NET Framework, MSSQL and WPF.</p>
      <p>Conception, implementation and guidance of software architecture in the .NET field using C#.</p>
    </div>
    <div class="timeline-icon"></div>
  </li>
  <li class="timeline-item">    
    <div class="timeline-content">
      <h2 class="timeline-content-date">2016 - 2017</h2>
      <h3 class="timeline-content-subheader">Application Developer in Computer Science</h3> 
      <h4>BCIS IT-Systeme GmbH & Co KG.</h4>
      <p>Fullstack development of client & server software using C#, .NET Framework, MSSQL and WPF.</p>
    </div>
    <div class="timeline-icon"></div>
  </li>
  <li class="timeline-item">    
    <div class="timeline-content">
      <h2 class="timeline-content-date">2014 - 2016</h2>
      <h3 class="timeline-content-subheader">Training for Application Developer in Computer Science</h3> 
      <h4>BCIS IT-Systeme GmbH & Co KG.</h4>
      <p>Accelerated training. Skipped first year and took to final exams 6 months earlier. Development of client & server applications in the Microsoft Windows environment using MSSQL and .NET and C#.</p>
    </div>
    <div class="timeline-icon"></div>
  </li>
  <li class="timeline-item">    
    <div class="timeline-content">
      <h2 class="timeline-content-date">2012 - 2014</h2>
      <h3 class="timeline-content-subheader">Computer Science (B.Sc.)</h3> 
      <h4>Philipps-Universität Marburg</h4>
      <p>Dropout</p>
    </div>
    <div class="timeline-icon"></div>
  </li>
</ul>